<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>缺氧 Wiki - <%= title %></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, minimum-scale=0.25">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css"  media="all">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.2/es5/tex-mml-chtml.min.js"></script>
  </head>

  <style>
    .oni-header {
      height: 140px;
      overflow: hidden;
    }

    @media only screen and (max-width: 1200px) {
      #oni-header-logo {
        display: none;
      }
      .oni-header div img {
        padding-top: 20px;
      }
    }

    @media only screen and (min-width: 1200px) {
      #oni-header-logo {
        width: 300px;
        position: relative;
      }
    }

    @media only screen and (max-width: 637px) {
      .oni-header ul li a img {
        display: none;
      }
    }

    @media only screen and (min-width: 637px) {
      .oni-header ul li a img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        z-index: -1;
      }
    }

    .oni-header div img {
      max-width: 100%;
      max-height: 100%;
    }

    .oni-header ul {
      padding-top: 20px;
    }

    .oni-header ul li {
      width: 12.5%;
      max-width: 100px;
      height: 123px;
      text-align: center;
    }

    .oni-header ul li a span {
      font-size: 18px;
      margin: 0 auto;
    }
    .gray {
      filter: grayscale(100%);
    }

    .oni-building-category {
      height: 30px;
    }

    .oni-building-category img {
      vertical-align: bottom;
      width: auto;
      height: 30px;
      max-width: 100%;
      max-height: 100%;
    }

    .oni-building-category span {
      font-size: 26px;
    }

    .oni-building-element {
      display:inline-block;
      vertical-align: top;
      width: 70px;
      height: 110px;
      text-align: center;
      margin: 5px 20px;
    }
    .oni-building-element div {
       width: 70px;
       height: 70px;
       vertical-align: bottom;
       display: table-cell;
    }
    .oni-building-element img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    .oni-building-element div span {
      color: "#333";
      display: block;
      min-width: 70px;
    }
  </style>

  <body>
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header oni-header">
        <%= nav %>
      </div>

      <div class="layui-container" style="margin-bottom:80px">
        <%= container %>
      </div>

      <div class="layui-footer" style="left:0;text-align:center;z-index:1000000000">
        <%= footer %>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.min.js" charset="utf-8"></script>
    <script><%= script %></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3EMERLQBT"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-S3EMERLQBT');
    </script>
  </body>
</html>
