<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>缺氧 Wiki</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="oni-cn.com">
    <meta property="og:url" content="https://oni-cn.com">
    <meta property="og:title" content="缺氧 Wiki | oni-cn.com" />
    <meta property="og:image" content="https://oni-cn.com/img/header_basic.jpg">
    <meta property="og:description" content="缺氧 Wiki | oni-cn.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css"  media="all">
    <link rel="stylesheet" href="./assets/css/main.css">
  </head>
  <body>
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header oni-header">
        <%= nav %>
      </div>

      <div class="layui-container body">
        <%= container %>
      </div>

      <div class="layui-footer footer">
        <span><a href="https://www.klei.com/games/oxygen-not-included" target="_blank">Oxygen Not Included</a> Unofficial Wiki, Built by <a href="https://space.bilibili.com/18135979" target="_blank">程序喵喵喵</a></span> with <i class="layui-icon layui-icon-heart-fill"></i></span>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.min.js" charset="utf-8"></script>
    <script><%= script %></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3EMERLQBT"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-S3EMERLQBT');
    </script>
  </body>
</html>
